<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="TantalumStore" connectionString="
         Data Source=b0c84c3a-5287-4a68-ba60-a22a00e3dd46.sqlserver.sequelizer.com;
         Initial Catalog=dbb0c84c3a52874a68ba60a22a00e3dd46;
         User ID=mfetvnjtfsyvhyal;
         Password=r35pDqHQc3utnnEzgDMAamSrHqwcgHYMiG5PtQGnLAS5mcFanFTUuHAeiMPn2EHB;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>