<span class="product">
    <div><strong data-bind="text: Name"></strong></div>
    <img data-bind="attr: { src: ImageSource}" class="productImage" src="#"  alt="product image"/>
    <div class="productPrice">Price: <strong data-bind="text: Price"></strong></div>
    <div class="productQuantity">Quantity: <strong  data-bind="text: Quantity"></strong></div>
    <a data-bind="attr: { href: Link }">More Information</a>
    <button data-bind="events: { click: addToBasket }">add to basket</button>
</span>